<div>
    <div class="highlight" *ngIf="cardProps.isPopular">
        Most Popular
    </div>
    <div class="header">
        {{cardProps.packageName}}
    </div>
    <div>
        <div>
            <p>{{currencySymbol}}{{cardProps.pricePerTransfer}}<p>
            <p>Per Qualfied Lead</p>
        </div>
        <div>
            <p>Qualfied Lead Per Month</p>
            <p>{{cardProps.leadsPerMonth}}</p>
        </div>
        <div>
            <p>Platform Fee Per Month</p>
            <p>{{currencySymbol}}{{cardProps.platformPrice}}</p>
        </div>
    </div>
    <div class="footer">
        {{currencySymbol}}{{cardProps.packagePrice}}/mo
    </div>
</div>
<button (click)="selectPlan()" [ngClass]="{'highlight':cardProps.isPopular}" >
    Start Your Trial
</button>
