.pill {
    width: 150px;
    background-color: hsl(0, 0%, 97%);
    color: #4a586c;
    padding: 12px;
    font-weight: bold;
    cursor: pointer;
    &.active {
        color: #ffff;
        background: #5a6f90;
    }
    &.right-border {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    &.left-border {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
}
button {
    border:none;
}