.offline-card {
    width: 100vw;
    height: 100vh;
    font-size:50px;
    background-color:#5a6f90;
    color:#ffff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}