.container {
    display: grid;
margin: auto;
/* justify-content: center; */
grid-template-columns: repeat(5,minmax(0,auto));
border-radius: 4px;
/* border: 1px solid black; */
width: max-content;
overflow: hidden;
grid-gap: 1px;
background: #d7d7d7;
}